##Data types and structures
 Q.1:What are data structures, and why are they important?
 Ans: Data structure is the way of organizing the data so that it can be  store,retrieve and modify in easiest way.
 Data structure is important for many reasons such as to make the code more efficient and data structure makes code more easier to understand.
 With the help of data structure developers understand and debug the code more easily.

 Q.2: Explain the difference between mutable and immutable data types with examples.
 Ans: Mutable data types can be changed after creation, while immutable data types cannot be changed after creation.
 **Examples of mutable data types**: List, Dictionaries,Set
**Examples of immutable data types**: Tuple and string.

Q.3: What are the main differences between lists and tuples in Python?
Ans: Main difference between tuples and list is tuple is immutable data type while list is mutable data type.this means we can update or modify the values of elements from the list while values of elements from the tuple cannot be changed after creation.

Q.4: Describe how dictionaries store data?
Ans:Dictionaries are used to store the data in key:value pair.Values in dictionaries can be of any data type and can be duplicated but Keys in the dictionaries cannot be repeated,it must be  immutable.
**Example of dictionary**: my_dict={"Name":"Alice","Phone_no":1234}

Q.5: Why might you use a set instead of a list in Python?
Ans:The main reason of using set over list is set removes duplicate data,this makes set the ideal container for storing the data.
Accessing the data and performing operations on data becomes more easy when we use set operations like union,intersection etc.

Q.6: What is a string in Python, and how is it different from a list?
Ans:String is collection of characters which is in the sequence and enclosed in the single or double quotes.
Difference between stringsanf list:
1.Strings are immutable while the lists are mutable.
2.Strings are enclosed between single or double quotes while lists are enclosed in square brackets.

Q.7: How do tuples ensure data integrity in Python?
Ans:Tuples are immutable in nature hence once the tuple is created it cannot be modified by anyone.Thus value of tuple cannot be changed and remains constant throughout the cycle.

Q.8: What is a hash table, and how does it relate to dictionaries in Python?
Ans: Hash table is the data structure which is used for implementing the dictionaries.As dictionary stores the data in key value pair,the key in the dictionary is nothing but the hash table.And they are generated by a hash function which generates a unique result for each unique value supplied to the hash function.

Q.9: Can lists contain different data types in Python?
Ans:Yes.List stores hetrogenous data. It can be string,integer,float,boolean,etc.

Q.10: Explain why strings are immutable in Python?
Ans:Strings in python are immutable means once string is created,it cannot be changed.This avoids unnecessary bugs.This can leads to a constant hash value which can be used as keys in dictionaries.

Q.11: What advantages do dictionaries offer over lists for certain tasks?
Ans: Dictionaries are more efficient than list.Because when we want to search the element,it can be carried out in faster way than list.
Lists are used when it is important to maintain the order of the elements and dealing with data that may get changed in the future.

Q.12: Describe a scenario where using a tuple would be preferable over a list?
Ans:We can use tuple instead of list when we want the immutable collection of data which will not be changed after creation.Tuples are faster and memory efficient than the list.Hence using a tuple over a list would be preferable.

Q.13: How do sets handle duplicate values in Python?
Ans:Set is an unordered collection of unique elements.Set does not allow duplicate elements.Every element in a set must be unique. We can simply add elements to a set, and finally we will get a set of elements with duplicates removed automatically.

Q.14: How does the “in” keyword work differently for lists and dictionaries?
Ans:**Use of "in" keyword for list:** "in" keyword used when we want to test whether certain value is present in the list or not.If the item is in the list, it returns true otherwise, it returns False.
e.g my_list = ["apple", "banana", "cherry"]
print("banana" in my_list)  # Output: True
print("pineapple" in my_list)  # Output: False
**Use of "in" keyword for Dictionaries:**
It tells you whether something appears or not as a key in the dictionary.
example:
>>>dict={"hello":"hi","thank you":"your welcome"}
>>>"hello" in dict
True
>>>"hi" in dict
False

Q.15: Can you modify the elements of a tuple? Explain why or why not.
Ans: No,you cannot modify the elements of a tuple because tuple is immutable in nature.This means once tuple is created,its elements cannot be changed or modify and you trying to do so this will raise a TypeError.

Q.16: What is a nested dictionary, and give an example of its use case.
Ans:A nested dictionary is a dictionary that contains other dictionaries as values. It is a collection of dictionaries into one single dictionary.
Example use cases
Employee records: Organize employees by department, with each employee's details in a nested dictionary
Inventory systems: Track product categories, subcategories, and individual product details.
Example of nested dictionary:
Emp_rec= {1: {'name': 'John', 'Emp_id': '123', 'Role': 'Data Analyst'},
    2: {'name': 'Marie', 'Emp_id': '456', 'Role': 'Business Analyst'}}

print(people)

Q.17:  Describe the time complexity of accessing elements in a dictionary
Ans:ime complexity is a measure of how much time it takes to run an algorithm.
The time complexity of a dictionary operation depends on the size of the dictionary and the operation being performed.The time complexity of accessing an element in a Python dictionary is O(1), which means it's very fast. This is because Python dictionaries use a hash table internally, which allows for constant time lookup.

Q.18: In what situations are lists preferred over dictionaries?
Ans:When we want ordered collection of data and want to perform sequence operation such as maintaining a stack or queue, lists are preferred over dictionaries.

Q.19:  Why are dictionaries considered unordered, and how does that affect data retrieval?
Ans: Dictionary is considered as unordered means the items do not have a defined order and you cannot refer to an item by using an index.Dictionaries are optimized for fast storage and recovery based on key. In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order.

Q.20: Explain the difference between a list and a dictionary in terms of data retrieval.
Ans: When we want to retrieve data from list we have to use index of the item which we want to retrieve.
In the other hand, when we retrieve data from dictionary we have to Use the key associated with the item we want to retrieve.

##** Practical Questions**

In [ ]:
# Q.1:Write a code to create a string with your name and print it
Name="Geetanjali"
print("My name is",Name)

My name is Geetanjali

In [ ]:
#Q.2 Write a code to find the length of the string "Hello World"
s1="Hello World"
result=len(s1)
print("Length of string is",result)

Length of string is 11

In [ ]:
#Q.3 Write a code to slice the first 3 characters from the string "Python Programming"
s2="Python Programming"
result1=s2[0:3]
result1

'Pyt'

In [ ]:
#Q.4 Write a code to convert the string "hello" to uppercase
s="hello"
uppercase=s.upper()
uppercase

'HELLO'

In [ ]:
#Q.5  Write a code to replace the word "apple" with "orange" in the string "I like apple"
st="I like apple"
st.replace("apple","orange")

'I like orange'

In [ ]:
#Q.6  Write a code to create a list with numbers 1 to 5 and print it
numbers=[1,2,3,4,5]
numbers

[1, 2, 3, 4, 5]

In [ ]:
#Q.7  Write a code to append the number 10 to the list [1, 2, 3, 4]
list1=[1,2,3,4]
list1.append(10)
list1

[1, 2, 3, 4, 10]

In [ ]:
#Q.8  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list_1=[1,2,3,4,5]
list_1.remove(3)
list_1

[1, 2, 4, 5]

In [ ]:
#Q.9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list_2=['a','b','c','d']
list_2[1]

'b'

In [ ]:
#Q.10  Write a code to reverse the list [10, 20, 30, 40, 50].
list_3=[10,20,30,40,50]
list_3.reverse()
list_3

[50, 40, 30, 20, 10]

In [ ]:
#Q.11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
t1=(100,200,300)
t1

(100, 200, 300)

In [ ]:
#Q.12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t2=('red','green','blue','yellow')
t2[1:]

('green', 'blue', 'yellow')

In [ ]:
#Q.13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t3=(10,20,5,15)
min(t3)

5

In [ ]:
#Q.14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t4=('dog','cat','rabbit')
t4.index('cat')

1

In [ ]:
#Q.15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits=('apple','banana','orange','kiwi')
'kiwi' in fruits

True

In [ ]:
#Q.16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1={'a','b','c'}
set1

{'a', 'b', 'c'}

In [ ]:
#Q.17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set2={1,2,3,4,5}
set2.clear()
set2

set()

In [ ]:
#Q.18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set3={1,2,3,4}
set3.remove(4)
set3

{1, 2, 3}

In [ ]:
#Q.19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set_1={1,2,3}
set_2={3,4,5}
set_1.union(set_2)

{1, 2, 3, 4, 5}

In [ ]:
#Q. 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set_1={1,2,3}
set_3={2,3,4}
set_1.intersection(set_3)

{2, 3}

In [ ]:
#Q. 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict={'name':'','age':'','city':''}
my_dict

{'name': '', 'age': '', 'city': ''}

In [ ]:
#Q. 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict_1={'name':'John','age':25}
dict_1.update({'country':'USA'})
dict_1

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#Q. 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict1={'name':'Alice','age':30}
my_dict1.get('name')

'Alice'

In [25]:
#Q. 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict1={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1.pop('age')
dict1

{'name': 'Bob', 'city': 'New York'}

In [3]:
#Q.25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dictionary={'name': 'Alice', 'city': 'Paris'}
if 'name' in dictionary:
  print("key exists")
else:
  print("key does not exists")

key exists

In [10]:
#Q. 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list=[2,4,5,'abc',4.5]
my_tuple=(3,5,7,'xyz')
my_dict2={'name':'Geetanjali','city':'Sambhajinagar'}
print(my_list,my_tuple,my_dict2)

[2, 4, 5, 'abc', 4.5] (3, 5, 7, 'xyz') {'name': 'Geetanjali', 'city': 'Sambhajinagar'}

In [14]:
#Q. 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
number=[10,5,98,45,2]
print("original list :",number)
number.sort()
print("after sorting",number)

original list : [10, 5, 98, 45, 2]
after sorting [2, 5, 10, 45, 98]

In [15]:
#Q.28. Write a code to create a list with strings and print the element at the third index.
List4=['John','Alice','Bob']
List4[2]

'Bob'

In [20]:
#Q. 29. Write a code to combine two dictionaries into one and print the result.
Dictionary1={'name':'Alice','age':30}
Dictionary2={'name': 'Alice', 'city': 'Paris'}
Dictionary1|Dictionary2

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [21]:
#Q. 30. Write a code to convert a list of strings into a set.
List_of_Strings=['abc','pqr','xyz']
print("List:",List_of_Strings)
print("Set:",set(List_of_Strings))

List: ['abc', 'pqr', 'xyz']
Set: {'pqr', 'xyz', 'abc'}